.reserveModal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.418);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .reserveContainer {
    background-color: white;
    padding: 20px;
    position: relative;
  }
  
  .closeModal {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 10px;
  }
  
  .room {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;
  }
  
  .roomInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .roomTitle {
    font-weight: 500;
  }
  
  .roomDesc {
    font-weight: 300;
  }
  
  .roomMax {
    font-size: 12px;
  }
  
  .roomPrice {
    font-weight: 500;
  }
  
  .room{
    display: flex;
    flex-direction: row;
  }
  
  .roomButton {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
  }

  .selectRooms{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
  }